* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Mukta', sans-serif;
    font-size: 16px;
}

body {
    font-family: 'Mukta', sans-serif;
    font-size: 16px;
    background: #eee;
    color: #333;
}

input {
    font-family: 'Mukta', sans-serif;
}

ul {
    list-style: none;
}

.app {
    width: 90%;
    max-width: 1150px;
    margin: 0 auto;
    padding: 1.2rem 0;
}

.header {
    text-align: center;
    margin-bottom: 0.5rem;
    h1 {
        font-size: 2rem;
    }
}

.searchbar {
    margin-bottom: 1.3rem;
    position: relative;
    input {
        width: 100%;
        padding: 0.5rem 1.2rem;
        font-size: 1rem;
        border-radius: 25rem;
        border: 0.1rem solid #999;
        outline: 0;
        background: #fff;
        transition: all 0.2s;
        &:hover {
            border-color: #333;
        }
    }
}

.search-list {
    background: rgb(255, 255, 255);
    border-radius: 1rem;
    border: 0.1rem solid #999;
    position: absolute;
    top: 2.75rem;
    left: 0;
    width: 100%;
    height: auto;
    font-size: 1rem;
    overflow: hidden;
    max-height: 11rem;
    overflow-y: auto;
    li {
        cursor: pointer;
        padding: 0.4rem 1.2rem;
        position: relative;
        &::after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            width: 91%;
            border-bottom: 0.06rem solid rgb(214, 214, 214);
        }
        &:last-child {
            &::after {
                content: none;
            }
        }
        &:hover {
            background: rgb(235, 235, 235);
        }
    }
}

.loader {
    text-align: center;
}

.no-pokemon {
    text-align: center;
    font-size: 1.2rem;
}

.pokemon-card {
    background: #ddd;
    border-radius: 1rem;
    padding: 1.2rem;
    &.electric {
        background: #f8d030;
    }
    &.bug {
        background: #a8b820;
    }
    &.dark {
        background: #705848;
    }
    &.normal {
        background: #a8a878;
    }
    &.fire {
        background: #f08030;
    }
    &.water {
        background: #6890f0;
    }
    &.grass {
        background: #78c850;
    }
    &.flying {
        background: #a890f0;
    }
    &.rock {
        background: #b8a038;
    }
    &.steel {
        background: #b8b8d0;
    }
    &.ground {
        background: #e0c068;
    }
    &.poison {
        background: #a040a0;
    }
    &.ice {
        background: #98d8d8;
    }
    &.fighting {
        background: #c03028;
    }
    &.psychic {
        background: #f85888;
    }
    &.ghost {
        background: #705898;
    }
    &.dragon {
        background: #7038f8;
    }
    &.fairy {
        background: #f0b6bc;
    }
    .container {
        background: #fff;
        border-radius: 1rem;
        padding: 2rem 1rem;
        margin-bottom: 1.2rem;
        &.has-no-mb {
            margin-bottom: 0;
        }
    }
    .name {
        h2 {
            text-align: center;
            font-size: 1.8rem;
            span {
                color: #999;
            }
        }
    }
    .image {
        text-align: center;
        img {
            width: 10rem;
        }
    }
    .type {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        li {
            font-size: 1rem;
            border-radius: 1rem;
            width: 7.5rem;
            text-shadow: 0 0 3px #000, 0 0 4px rgb(150, 150, 150);
            color: #fff;
            line-height: 2;
            margin-right: 0.8rem;
            &:last-child {
                margin-right: 0;
            }
            &.electric {
                background: #f8d030;
            }
            &.bug {
                background: #a8b820;
            }
            &.dark {
                background: #705848;
            }
            &.normal {
                background: #a8a878;
            }
            &.fire {
                background: #f08030;
            }
            &.water {
                background: #6890f0;
            }
            &.grass {
                background: #78c850;
            }
            &.flying {
                background: #a890f0;
            }
            &.rock {
                background: #b8a038;
            }
            &.steel {
                background: #b8b8d0;
            }
            &.ground {
                background: #e0c068;
            }
            &.poison {
                background: #a040a0;
            }
            &.ice {
                background: #98d8d8;
            }
            &.fighting {
                background: #c03028;
            }
            &.psychic {
                background: #f85888;
            }
            &.ghost {
                background: #705898;
            }
            &.dragon {
                background: #7038f8;
            }
            &.fairy {
                background: #f0b6bc;
            }
        }
    }
    .details {
        h3 {
            text-align: center;
            font-size: 1.4rem;
            margin-bottom: 1rem;
        }
        & > div {
            display: inline-block;
            width: 50%;
            &.abilities {
                margin-top: 1rem;
                width: 100%;
                & > ul {
                    li {
                        display: inline-block;
                        margin-right: 3rem;
                        &:last-child {
                            margin-right: 0;
                        }
                    }
                }
            }
            p {
                font-size: 1rem;
            }
        }
    }
    .stats {
        h3 {
            text-align: center;
            font-size: 1.4rem;
            margin-bottom: 1rem;
        }
        ul {
            li {
                display: flex;
                justify-content: space-between;
                align-items: center;
                .info {
                    display: flex;
                    justify-content: space-between;
                    width: 6.2rem;
                }
                .bar {
                    flex: 1;
                    width: 100%;
                    height: 1.5rem;
                    margin-left: 1rem;
                    background: #eee;
                    position: relative;
                    &-bg {
                        position: absolute;
                        height: 100%;
                        top: 0;
                        left: 0;
                        &.hp {
                            background: #ff0000;
                        }
                        &.atk {
                            background: #f08030;
                        }
                        &.def {
                            background: #f8d030;
                        }
                        &.sp-atk {
                            background: #6890f0;
                        }
                        &.sp-def {
                            background: #78c850;
                        }
                        &.spd {
                            background: #f85888;
                        }
                    }
                }
            }
        }
    }
}

/* Media Queries */
@media screen and (min-width: 480px) {
}

@media screen and (min-width: 768px) {
}

@media screen and (min-width: 992px) {
}

@media screen and (min-width: 1200px) {
}
